/* General */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
}

/* Font */
h1 {
	font-size: 3rem;
	font-weight: 700;
}

p {
	font-size: 1.6rem;
	font-weight: 400;
}

/* Header */
header {
	align-content: center;
	text-align: center;
	margin-top: 3rem;
	padding-bottom: 3rem;
}

header img {
	width: 20rem;
	heigth: 70rem;
}

hr {
	width: 75%;
	color: #c9c9c9;
}

/* Grid */
@media screen and (min-width: 750px) {
	.one.column {
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.two.columns {
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.three.columns {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.four.columns {
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.five.columns {
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.six.columns {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.seven.columns {
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}	

	.eight.columns {
		flex: 0 0 66.66666667%;
		max-width: 66.6666667%;
	}

	.nine.columns {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.ten.columns {
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.eleven.columns {
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.twelve.columns {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Content */
.infos h1 {
	text-align: center;
	margin: 0 auto;
	padding-bottom: .3rem;
	color: #333;
}

.infos p {
	text-align: center;
	color: #555;
}

.data {
	text-align: center;
	padding-top: 3rem;
}

/* Filter */
select {
	height: 3rem;
	background-color: #fff;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	box-shadow: none;
	font: inherit;
	margin-bottom: 3rem;
}

select:focus {
	border: 1px solid #33c3f0;
}

/* Texts */
#or {
	padding-bottom: 3rem;
}

/* Charts */
#brand-charts {
	width: 100%; 
 	min-height: 450px;
}

/* Footer */
footer p {
	text-align: center;
	font-size: 1rem;
	position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	color: #00b2e3;
}